/*GOOGLE FONTS*/
@import 'https://fonts.googleapis.com/css2? family = Italiana & family = Lato: wght @ 300; 400; 700 & display = swap';

/*VARIABLES CSS*/
:root{
    --header-height: 4.5rem;

    /*COLLRS*/

    --first-color: #2b348;
    --firdt-color_alt: #1d7a37;
    --second-color:  #34e910;
    --white-color: #ffff;
    --black-color: #171f07;
    --container-color: #ffff;


    /*FONT AND TYPOGRAFHY*/

    --body-font: 'Lato' sans-serif;
    --font-logo: 'Italiana', serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1,25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;

    /*FONT WEIGHT*/

    --font-light: 300;
    --font-medium: 400;
    --font-bold: 700;

    /*MARGINS*/

    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /*2 INDEXS*/

    --z-fixed: ;
    --z-tooltip: ;


}